<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Member Details</title>
    <!--Bootstap CSS & JS-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Personal CSS-->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"><i class="fa fa-car"></i>&nbsp;Carpark System</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/carpark">Availability</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--//Navbar-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 ">
                <!--Jumbotron-->
                <div class="jumbotron">
                    <h1 class="text-center">Carpark Availability</h1>
                    <div class="text-align car">
                        <img class="img-responsive" style="margin: auto;" alt="" src="../static/car.jpg">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success justify-content-center" onclick="window.location.href='/carpark'">View Carpark Availability</button>
                    </div>
                </div>
                <!--//Jumbotrom-->
            </div>
            <div class="col-lg-4">
                <!--Well-->
                <div class="well">
                    <h3 class="text-center">Personal Information</h3>
                    <div id="details">
                        <h4>Name: {{ first_name }} {{ last_name }}</h4>
                        <h4>Email: {{ email }}</h4>
                    </div>
                </div>
                <!--//Well-->
            </div>
        </div>
    </div>
</body>
</html>