<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Load required BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load Vue followed by BootstrapVue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!--Bootstap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--Input tel-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.0/css/intlTelInput.css'>
    
</head>
<body class="bg-light">
    <div class="container-fluid wrapper" id="register">
        <div class="p-4 row mt-3 text-center">
            <div class="col">
                <h1 class="section-heading text-uppercase">Sign up</h1>
            </div>
        </div>
        <div class="row p-4" id>
            <div class="col-xl-4 col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2 offset-xl-4">
                <vue-component></vue-component>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="register-vue-component-template">
        <div v-if="loading" class="mt-5">
            <!--Spinner-->
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
                </div>
            </div>
            <!--//Spinner-->
        </div>
        <div class="card" v-else>
            <div class="card-body">
                <!--Show Status-->
                <div class="alert alert-success alert-dismissible fade show" role="alert" v-if='showStatus'>
                    [[ status.status ]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if='showErrorStatus'>
                    <ul>
                        <li v-for="error in errorStatus">
                            [[ error ]]
                        </li>
                    </ul>
                </div>
                <!--Form Content-->
                <!--first_name, last_name, email, password-->
                <div class="row">
                    <div class="form-group mt-3 col">
                        <label for="first_name">First Name</label>
                        <input type="text" v-bind:class="{'form-control': true, 'is-invalid': validation.first_name}"
                            id="first_name" placeholder="Enter first name" v-model="first_name" name="first_name" required>
                    </div>
                    <div class="form-group mt-3 col">
                        <label for="last_name">Last Name</label>
                        <input type="text" v-bind:class="{'form-control': true, 'is-invalid': validation.last_name}"
                            id="last_name" placeholder="Enter last name" v-model="last_name" name="last_name" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" v-bind:class="{'form-control': true, 'is-invalid': validation.email}"
                        id="email" placeholder="Enter email" v-model="email" name="email" required>
                </div>
                <div class="form-group mt-3">
                    <label for="contact_no">Contact No</label> <br>
                    <input type="text" v-bind:class="{'form-control': true, 'is-invalid': validation.contact_no}"
                        id="contact_no" v-model="contact_no" name="contact_no" required>
                </div>
                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password"
                        v-bind:class="{'form-control': true, 'is-invalid': validation.password}"
                        placeholder="Password" v-model="password" name="password" required>
                </div>
                <div class="form-group mt-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password"
                        v-bind:class="{'form-control': true, 'is-invalid': validation.confirmPassword}"
                        id="confirmPassword" placeholder="Confirm Password" v-model="confirmPassword"
                        name="confirmPassword" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3 mb-2 form-control" v-on:click="add">SIGN
                        UP</button>
                    <hr>
                    <a href="/login">I have an account</a>
                </div>
                <!--//Form Content-->
            </div>
        </div>
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.0/js/intlTelInput.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.8/jquery.inputmask.bundle.min.js'></script>
    
    <script>
        var vue_component = {
            template: '#register-vue-component-template',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    showStatus: false,
                    status: '',
                    showErrorStatus: false,
                    errorStatus: [],
                    validation: {
                        first_name: false,
                        last_name: false,
                        email: false,
                        password: false,
                        confirmPassword: false,
                        contact_no: false
                    },
                    loading: false
                }
            },
            created() {

                this.email = "";
                this.password = "";
                this.first_name = "";
                this.last_name = "";
                this.confirmPassword = "";
                this.contact_no="";
            },
            methods: {
                add() {
                    // textbox ui
                    this.errorStatus = [];
                    if (this.first_name == null || this.first_name.trim() == "") {
                        this.validation.first_name = true;
                    }
                    else {
                        this.validation.first_name = false;
                    }
                    if (this.last_name == null || this.last_name.trim() == "") {
                        this.validation.last_name = true;
                    }
                    else {
                        this.validation.last_name = false;
                    }
                    if (this.email == null || this.email.trim() == "") {
                        this.validation.email = true;
                    }
                    else {
                        this.validation.email = false;
                    }
                    if (this.password == null || this.password.trim() == "") {
                        this.validation.password = true;
                    }
                    else {
                        this.validation.password = false;
                    }
                    if (this.confirmPassword == null || this.confirmPassword.trim() == "") {
                        this.validation.confirmPassword = true;
                    }
                    else {
                        this.validation.confirmPassword = false;
                    }
                    
                    if (document.getElementById("contact_no").value.includes("X") == false) {
                        this.contact_no = document.getElementById("contact_no").value;
                        var iti_el = $('.iti.iti--allow-dropdown.iti--separate-dial-code');
                        var intlNumber = iti.getNumber();
                        
                    }
            
                    if (this.contact_no== null || this.contact_no.trim() == "") {
                        this.validation.contact_no = true;
                    }
                    else {
                        this.validation.contact_no = false;
                    }
                    
                    // error message
                    if (!this.validation.first_name && !this.validation.last_name && !this.validation.email && !this.validation.password && !this.validation.confirmPassword && !this.validation.contact_no) { // check if there's empty field

                        // validate email
                        if (!validateEmail(this.email)) {
                            this.showStatus = false;
                            this.showErrorStatus = true;
                            this.errorStatus.push("Please enter a valid email");
                            this.validation.email = true;
                        }
                        else {
                            this.validation.email = false;
                        }

                        // validate password
                        if (this.password != this.confirmPassword) {
                            this.validation.password = true;
                            this.validation.confirmPassword = true;

                            this.showStatus = false;
                            this.showErrorStatus = true;
                            this.errorStatus.push("Password mismatch");
                        }
                        else {
                            this.validation.password = false;
                            this.validation.confirmPassword = false;
                        }

                        // check if there's error again
                        if (!this.validation.first_name && !this.validation.last_name && !this.validation.email && !this.validation.password && !this.validation.confirmPassword) {

                            this.first_name = this.first_name.replace(/\s+/g, ''); // remove white space
                            this.last_name = this.last_name.replace(/\s+/g, ''); // remove white space
                            this.email = this.email.replace(/\s+/g, '');
                            // insert data
                            if (this.first_name != "" && this.last_name != "" && this.email != "" && this.password != "") {

                                const url = "/user/create"

                                // contact number w country code
                                var iti_el = $('.iti.iti--allow-dropdown.iti--separate-dial-code');
                                var intlNumber = iti.getNumber();

                                const data = { 

                                    "first_name": this.first_name.toLowerCase(),
                                    "last_name": this.last_name.toLowerCase(),
                                    "password": this.password,
                                    "email": this.email.toLowerCase(),
                                    "contact_no": intlNumber
                                }
                                // POST request

                                this.loading = true; // start loading
                                axios.post(url, data)
                                .then(response => {
                                    let result = response.data;
                                    this.loading = false;
                                    if (result.type == "success") {
                                        
                                        window.location.href = "/home";
                                    }
                                    else {
                                        this.showErrorStatus = true;
                                        //this.errorStatus.push("Invalid credentials. Please try again.");
                                        this.errorStatus.push(result.message);
                                    }
                                })
                                .catch(error => {
                                    this.showErrorStatus = true
                                    this.errorStatus.push("An error has occurred. Please try again");
                                }) 
                                .finally(() => this.loading = false);
                            }

                        }
                    }
                    else {
                        this.showStatus = false;
                        this.showErrorStatus = true;
                        this.errorStatus.push("Please fill out all your fields");
                    }


                },
            }
        };

        new Vue({
            el: '#register',
            components: {
                'vue-component' : vue_component
            } 
        })

        function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        // phone validation
        var input = document.querySelectorAll("input[name=contact_no]");
        var iti_el = $('.iti.iti--allow-dropdown.iti--separate-dial-code');
        if(iti_el.length){
            iti.destroy();
			
			// Get the current number in the given format
        }
        for(var i = 0; i < input.length; i++){
            iti = intlTelInput(input[i], {
                autoHideDialCode: false,
                autoPlaceholder: "aggressive" ,
                initialCountry: "auto",
                separateDialCode: true,
                preferredCountries: ['sg'],
                customPlaceholder:function(selectedCountryPlaceholder,selectedCountryData){
                    return ''+selectedCountryPlaceholder.replace(/[0-9]/g,'X');
                },
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "";
                        callback(countryCode);
                });
                },
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.0/js/utils.js" 
        });

        $('input[name="contact_no"]').on("focus click countrychange", function(e, countryData) {

            var pl = $(this).attr('placeholder') + '';
            var res = pl.replace( /X/g ,'9');
            if(res != 'undefined'){
                $(this).inputmask(res, {placeholder: "X", clearMaskOnLostFocus: true});
            }
        });
        }
    </script>
</body>
</html>